
.App {
  text-align: center;
 padding-bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(84, 178, 178); */
    border-radius: 2rem;
    /* background: rgb(103,94,168);
    background: linear-gradient(90deg, rgba(103,94,168,1) 12%, rgba(55,14,200,1) 63%, rgba(92,80,107,1) 97%); */
  /* Rest of your CSS styles */
  
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  font-size: 14px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.btn.add {
  background-color: #4caf50;
  color: white;
}

.btn.edit {
  background-color: #2196f3;
  color: white;
}

.btn.remove {
  background-color: #f44336;
  color: white;
}

.btn:hover {
  filter: brightness(1.1);
}

.listitems {
  list-style: none;
  padding: 0;
}

.itemsinlist {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.itemsinlist li {
  flex: 1;
  padding: 5px 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px; 
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* background-color: #f9f9f9; */
  list-style-type: none;
}

.itemsinlist .btn {
  padding: 6px 10px;
  margin-left: 5px;
}
.listitems {
  list-style: none; /* This will remove the list dots */
  padding: 0;
 
}
.taskbtn
{
  margin: 1rem;
  height: 2rem;

}
.fulltask{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  flex-direction: row;
  width: 100vh;
  justify-content: space-between;
  
}
.task{
  color: red;
  /* text-decoration: line-through black ; */
  

}
.task::before{
  content:  "Task"  ; 
  display: block ;
  font-size: 7px;
  align-content: start;
     font:bolder;
     color: #685a5a ;
}
.todobtn
{
  font-size:  10px;
  color: rgb(51, 67, 44);
}
.todobtn::before{
  content:  "Status"  ; 
  display: block ;
  font-size: 7px;
  align-content: start;
     font:bold;
     color: #685a5a; 
}
.time{
 color: #2196f3;
 margin: 2px;
}
.time::before{
  content:  "Start Time"  ; 
  display: block ;
  font-size: 7px;
  align-content: start;
     font:bold;
     color:  #685a5a; 
}
.editdelete
{
  padding-top: 10px;
  padding-bottom: 2px;

}